%p#notice= notice
%p
  %strong Name:
  = @service.name
%p
  %strong Suite:
  = @service.suite.name
%p
  %strong Docker repo:
  = @service.docker_repo
%p
  %strong Git repo:
  = @service.git_repo
%p
  %strong K8s service (DEPRECATED):
  = @service.k8s_service

%div
  %strong Release Versions:
  %table
    %thead
      %tr
        %th Version/SHA
        %th Message
        %th Committer
        %th Time (UTC)
    %tbody
      - @service.release_versions.each do |ver|
        %tr
          %td= ver[:sha]
          %td= ver[:message]
          %td= ver[:committer]
          %td= ver[:time]

= link_to 'Edit', edit_suite_service_path(@suite,@service)
|
= link_to 'Back to Suite', suite_path(@suite)
