.row
  %h3 Service Info:
  %table.table.table-bordered
    %thead
      %tr
        %th Name
        %th Suite
        %th DockerHub Repo
        %th Git Repo
        %th K8s Deployment

    %tbody
      %tr
        %td= @service.name
        %td= @service.suite.name
        %td= link_to @service.docker_repo, "https://hub.docker.com/r/#{@service.docker_repo}", target: '_blank'
        %td= link_to @service.git_repo, "https://github.com/#{@service.git_repo}", target: '_blank'
        %td= @service.k8s_service

.row
  %h3 Release Versions:
  %table.table.table-hover.table-bordered
    %thead
      %tr
        %th Version/SHA
        %th Message
        %th Committer
        %th Time (UTC)
    %tbody
      - @service.release_versions.each do |ver|
        %tr
          %td= link_to ver[:sha], "https://github.com/#{@service.git_repo}/commit/#{ver[:sha]}", target: '_blank'
          %td= ver[:message]
          %td= ver[:committer]
          %td= time_ago_in_words(ver[:time], include_seconds: true)

= link_to 'Edit', edit_suite_service_path(@suite,@service)
|
= link_to 'Back to Suite', suite_path(@suite)
