.row
  %h4 Suite: #{@environment.suite.name}
  %br
  %h4 Environment: #{@environment.name}
-#
  %p
    %strong K8s master:
    = @environment.k8s_master
  %p
    %strong K8s username:
    = @environment.k8s_username
  %p
    %strong K8s password:
    = @environment.k8s_password

.row
  %strong Current services
  %table.table.table-hover.table-bordered
    %thead
      %tr
        %th Service Name
        %th Current Version
        %th Links
        %th
    %tbody
      - @environment.suite.services.each do |service|
        - current_tag = @environment.current_service_tag(service.name)
        %tr
          %td= service.name
          %td= "#{service.get_message_for_release(current_tag)} #{current_tag}"
          %td= link_to 'Deployment Details', deployment_details_suite_environment_path(:service_name => service.name), :target => '_blank'
          %td
            = link_to 'Show', show_service_suite_environment_path(@suite, @environment, service)


= link_to 'Edit', edit_suite_environment_path(@suite,@environment)
|
= link_to 'Back to Suite', suite_path(@suite)
